.option {
    &::after {
        content: "";
        border-bottom: 1px solid brown;
        width: 0%;
        transition: width .5s;
        margin-top: .1rem;
    }
}

.option:hover {
    &::after {
        width: 100%;
    }
}